/** { border: 1px solid white; }*/

/* Dark style modals */
.modal-content {
    position: relative;
    background-color: #020202;
    border: 1px solid #999;
    border: 1px solid rgba(255,255,255,0.333);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-content p
.modal-content a,
.modal-content li
.modal-content ol,
.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6,
.modal-content {
    color: white;
}

.pdf-menu-modal {
    height: 95vh;
}

.menu-pdf-viewer {
    width: 100%;
    min-height: 600px;
    display: flex;
}

.modal .close {
    color: rgba(255,255,255,0.777);
    font-size: 1.5rem;
    font-size: 3.5rem !important;
    font-weight: bold;
}

body {
    overflow-y: hidden;
}

body, html {
    max-width: 100% !important;
    overflow-x: hidden;
}

.fancybox-margin {
    margin-right: 17px;
}

.widget {
    padding: 0; /* Override */
}

body, p, a, li {
    font-family: 'Gentium Basic', serif !important;
    font-size: 2.15rem !important;
}

body .small p,
body .small a,
body .small li,
body .small {
    font-size: 95% !important;
}

body.dark, body.dark p, body.dark a, body.dark li,
.page-wrapper.dark, .page-wrapper.dark p, .page-wrapper.dark a, .page-wrapper.dark li {
    color: white !important;
    text-decoration: none;
}

p.copyright {
    font-size: 1.25rem !important;
    margin: 1.25rem 0;
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6, 
.superfood-btn, .footer-title {
    font-family: 'Gentium Basic', serif !important;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.hero-slider h2,
.hero-slider .h2 {
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
    font-size: 4.5rem;
}

.hero-slider .slide b, 
.hero-slider .slide strong {
    font-weight: normal;
}

.cursive {
    font-family: 'Calligraffitti', cursive !important;
    font-family: 'Montez', cursive !important;
    font-family: 'Qwigley', cursive !important;
    font-weight: 200 !important;
}

h1.cursive, .h1 .cursive {
    font-size: 11rem;
}

h2.cursive, .h2 .cursive {
    font-size: 9.5rem;
}

h3.cursive, .h3 .cursive {
    font-size: 8rem;
}

h4.cursive, .h4 .cursive {
    font-size: 6.5rem;
}

h5.cursive, .h5 .cursive {
    font-size: 5rem;
}

h6.cursive, .h6 .cursive {
    font-size: 3.85rem;
}

.toolbar .toolbar-toggle {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.superfood-btn {
    font-size: 2.5rem !important;
    width: 280px;
    position: relative;
    z-index: 10;
}

/* Kill styles */
.cms-index-index .main-container {
    margin-top: 0;
}

@media only screen and (max-width: 1024px) {
    .main1:before {
        background-color: rgba(94, 2, 1, 0.777);
    }
}

@media only screen and (max-width: 1025px) {
    .main-container {
        margin-top: 0 !important;
    }
    
    .superfood-heading {
        font-size: 2.5rem !important;
    }
    
    .superfood-text img {
        max-width: 50% !important; /* Overriding inline style */
    }
}


@media only screen and (max-width: 1024px) and (min-width: 641px) {
    .main-container {
        margin-top: 0 !important;
    }
}
.page-wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.45+0,0.05+50,0.45+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#73000000',GradientType=1 ); /* IE6-9 */
    position: relative;
    background: rgba(22,22,22,0.888);
    margin-bottom: -80px;
    top: -80px;
}

.page-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/stock/10134992-seamless-basket-weave-pattern.jpg) repeat;
    opacity: 0.55;
    z-index: -1;
    top: 0;
}

.product-section:before {
    background: url(img/template/phobulous/wood.jpg);
    background-size: cover;
    border-radius: 0.5rem 0.5rem 0 0;
    z-index: 0;
    /* top: 0; */
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    display: flex;
    opacity: 0.125;
}

.product-section {
    background: rgba(0,0,0,0.945);
    background-size: cover;
    border-radius: 0.5rem 0.5rem 0 0;
    z-index: 1;
    top: 0;
    position: relative;
}

.dark .toolbar-dropdown {
    background: rgba(0,0,0,0.925);
}

.dark header .toolbar-dropdown {
    border-left: 1px solid rgba(88,88,88,0.457); /* Main menu border */
}

.main-content {
    position: relative;
    z-index: 1;
}

.product-section,
.footer {
    box-shadow: 0 10px 100px rgba(0,0,0,0.777);
}

header, .navbar {
    background-color: transparent;
}

.dark header, .dark .navbar {
    background-color: rgba(0,0,0,0.875);
    border-bottom: 1px solid rgba(88,88,88, 0.457);
}

.dark .navbar:before {
    background-color: black;
}

.dark .toolbar .toolbar-toggle {
    background-color: black;
    border-left: 1px solid transparent;
}

.dark .toolbar .toolbar-toggle:hover {
    background-color: #222222;
    border-left: 1px solid rgba(88,88,88, 0.457);
    color: white;
}

@media screen and (min-width: 1200px) {
    .hero-slider {
        height: 1200px;
    }
}

.hero-slider h1, .hero-slider h2, .hero-slider h3, .hero-slider h4, .hero-slider h5, .hero-slider h6, 
.hero-slider .h1, .hero-slider .h2, .hero-slider .h3, .hero-slider .h4, .hero-slider .h5, .hero-slider .h6 {
    color: white;
    text-shadow: 1px 1px 7px #333;
}

.slide > .container .h1 {
    padding-top: 50px;
}

.btn-primary, .add-to-cart {
    background-color: #8AA955;
    border: 1px solid white;
}

.btn-primary:hover, .add-to-cart:hover {
    background-color: #C34B53;
}

a, .text-primary {
    color: #8AA955;
}

a:hover, .text-primary:hover {
    color: #C34B53;
}

.toolbar .toolbar-toggle .count {
    background-color: #C34B53;
}

.shop-item .shop-thumbnail {
    max-height: 194px;
}

.site-logo img {
    width: 100%;
    max-width: 125px;
}


@media screen and (max-width: 768px) {
    header.navbar {
        display: flex;
        align-items: center;
    }
    
    .site-logo img {
        max-width: 215px;
    }
    
    .site-logo.visible-mobile {
        padding-bottom: 0;
        padding-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

.category-link:hover > img {
    opacity: 1; /* Override */
}

.thumbnail {
    border: 1px solid rgba(88,88,88,0.457);
}

.product-section {
    border: 1px solid rgba(88,88,88,0.457);
}

@media screen and (min-width: 992px) {
    .site-logo img {
      width: 100%;
      max-width: 225px;
    }
}

.site-logo-wrapper {
    display: inline-block;
    margin-left: 2.25rem;
}

h1, .h1 {
    font-weight: 400;
}

.text-thin {
    font-weight: 500;
}

.shop-item .shop-item-details .shop-item-title > a {
    color: #606060;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.shop-item .shop-item-details .shop-item-price .old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    display: block;
}

.shop-item .shop-item-details {
    padding-top: 0;
    padding-bottom: 0.88rem;
}

.shop-item .shop-item-details h3.shop-item-title,
.shop-item .shop-item-details .shop-item-title {
    width: 80%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.shop-item .shop-item-details .shop-item-title, 
.shop-item .shop-item-details .shop-item-price {
    display: table-cell;
    vertical-align: middle;
}

.category-link img,
.shop-item .shop-thumbnail {
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
}

.category-link {
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
    text-transform: initial;
    display: inline; /* Kill base theme style */
    white-space: nowrap; /* Force single line, don't break tiles */
    cursor: pointer;
}

.shop-item .shop-item-details .shop-item-title:hover > a,
.category-link:hover {
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
}

.cont, .cont ul li, .cont p, .cont a {
    font-size: 1.75rem !important;
}

#contact, #about {
    background: url(img/template/phobulous/wood.jpg);
    background-size: cover;
    /*z-index: 10;
    position: fixed;
    top: 85%;
    left: -15%;
    width: 50%;
    display: none;*/
}

#contact ul {
    list-style-type: none;
}

#contact a {
    text-decoration: none;
}

#contact, #contact ul li, #contact p, #contact a {
    font-size: 2.05rem !important;
}

#footer {
    z-index: 4;
    position: relative;
    background-color: #f0f0f0;
}

.footer {
    position: relative;
    z-index: 5;
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, .btn-primary, .add-to-cart,
a.btn, a.btn-primary, a.add-to-cart {
    font-size: 1.75rem !important;
}

/* Phobulous doesn't require account or cart functionality */
a[href="#account"], a[href="#cart"], 
a.add-to-cart, 
a.add-to-wishlist {
    display: none !important;
}

/* Shrink toolbar, we hid the icons */
.toolbar {
    max-width: 125px;
}
/* Temporary, just for dev, remove after */
.hero-slider {
    height: auto !important;
}

.hero-slider .slide {
    background-size: cover;
    background-color: #090909;
    height: 100vh;
    z-index: 0;
}

.hero-slider .absolute > * {
    position: relative;
    z-index: 10;
}

.hero-slider > .hero-bottom:before {
    content: '';
    background: url(img/template/phobulous/hanoi-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    filter: brightness(30%) blur(1px);
}

.hero-slider > .hero-bottom:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(img/stock/10134992-seamless-basket-weave-pattern.jpg) repeat;
    opacity: 0.175;
    z-index: 0;
    top: 0;
    left: 0;
}

.hero-slider > .hero-main:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.975) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.975) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.975) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    top: 100vh;
    left: 0;
    z-index: 0;
}

/* TODO: Name it with a class */
.hero-slider > .hero-bottom > .container {
    padding-top: 15rem;
    position: relative;
    z-index: 3;
    text-shadow: 1px 1px 3px #222;
}

.hero-slider > .hero-bottom > .container:first-child {
    z-index: 4;
}

.slide .from-top {
    top: 30%;
    left: 25%;
}

.slide .from-bottom {
    bottom: 12%;
    left: -15%;
}

.toolbar .toolbar-toggle {
    border-right: 0;
}

#about-us {
    margin-top: 18rem; /* Offset for scroll-to */
}

#about-us > .container {
    padding-top: 15rem;
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    /*.navbar:before {
        background-color: #f6f6f6;
    }*/   
}

@media screen and (max-width: 480px) {
    .site-logo-wrapper {
        margin-left: 1.75rem;
    }
    
    #contact {
        display: none;
    }
    
    .toolbar .toolbar-toggle {
        box-shadow: none;
        border-right: 0;
    }
    
    /* TODO: Name it with a class */
    .hero-slider > .hero-bottom > .container {
        padding-top: 15rem;
        padding-bottom: 0 !important; /* TODO: This is overriding an inline style */
        position: relative;
        z-index: 3;
        text-shadow: 1px 1px 3px #222;
    }
}

/*.parallax-element {
    position: absolute;
    z-index: 5;
}*/

/*.parallax-element.left {
    left: 0;
    right: auto !important;
}

.parallax-element.right {
    right: 0;
    left: auto !important;
}

.parallax-element.top {
    bottom: 0 !important;
    top: 0;
}

.parallax-element.bottom {
    bottom: 0;
    top: auto !important;
}

.parallax-element.fixed {
    position: fixed;
}*/

/* Base size */
.condiment {
    width: 15.625%;
    height: 300px;
    background-repeat: no-repeat;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    position: absolute;
    z-index: 5;
}

.condiment:hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.333s ease-in-out;
    transform: rotate(3.5deg);
}

.condiment::before {
    background: rgba(0,0,0,0.095);
    position: absolute;
    content: '';
    border-radius: 50%;
    z-index: -1;
}

.condiment-chili {
    background-image: url(img/template/phobulous/condiment-chili.png);
    background-size: contain;  
    width: 15.625%;   
}

.condiment-cilantro {
    background-image: url(img/template/phobulous/condiment-cilantro.png);
    background-size: contain;
}

.condiment-onion {
    background-image: url(img/template/phobulous/condiment-onion.png);
    background-size: contain;
    width: 15.625%;
}

.condiment-lime {
    background-image: url(img/template/phobulous/condiment-lime.png);
    background-size: contain;
    width: 15.625%;
}

.herb {
    position: absolute;
    width: 20%;
    width: 425px;
    height: 425px;
    z-index: 5;
    background-repeat: no-repeat;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
}

.herb:hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.333s ease-in-out;
}

.basil {
    background-image: url(img/template/phobulous/basil.png);
    background-size: contain;
    /*right: 14% !important;
    transform: translate(73%, -49%);
    z-index: -1;*/
}

.basil:hover {
    transform: translate(83%, -55%) rotate(4.5deg);
}

.cilantro {
    background-image: url(img/template/phobulous/cilantro.png);
    background-size: contain;
    transform: translate(23%, -12%) rotate(-36deg);
    position: absolute;
    bottom: -30rem;
    z-index: 10;
}

.cilantro:hover {
    transform: translate(23%, -12%) rotate(-34deg);
}

.herb {
    position: absolute;
    width: 20%;
    width: 295px;
    height: 425px;
    z-index: 5;
    background-repeat: no-repeat;
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
}

.mint {
    background-image: url(img/template/phobulous/mint.png);
    background-size: contain;
    transform: translate(-16%, -23%) rotate(-162deg);
    position: absolute;
    left: 17%;
    bottom: -2.15rem;
    z-index: 4 !important;
}

.mint:hover {
    transform: translate(-16%, -23%) rotate(-164deg);
}

.green-onions-1 {
    background-image: url(img/template/phobulous/sliced-green-onions.png);
    background-size: contain;
    height: 325px;
}

.green-onions-1:hover {
    transform: rotate(2.5deg);
}

.green-onions-2 {
    background-image: url(img/template/phobulous/sliced-green-onions.png);
    background-size: contain;
    height: 325px;
}

.green-onions-2:hover {
    transform: rotate(-2.5deg);
}

.delivery-widget {
    background-image: url(img/template/phobulous/online-ordering-widget.png);
    background-size: cover;
    background-repeat: non-repeat;
    height: 418px;
    width: 230px;
    bottom: -10% !important;
    right: 2% !important;
    z-index: 5;
    transform: rotate(0.5deg);
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
}

.takeout-menu {
    background-image: url(img/template/phobulous-menu/phobulous_menu_2017-1.png);
    background-size: cover;
    background-repeat: non-repeat;
    height: 325px;
    width: 15%;
    height: 20%;
    bottom: -4% !important;
    left: 8% !important;
    position: fixed;
    transform: rotate(2.5deg);
    -webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    z-index: 999;
}

.takeout-menu::before {
    background: rgba(0,0,0,0.125);
    width: 105%;
    height: 110%;
    position: absolute;
    content: '';
    z-index: -1;
    top: -3%;
    left: -1%;
}

.takeout-menu:hover {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.333s ease-in-out;
    transform: rotate(0deg);
    bottom: -3.5% !important;
}

.product-section .item-name {
    text-align: center;
}


.category-wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.45+0,0.05+50,0.45+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#73000000',GradientType=1 ); /* IE6-9 */
    background: rgba(22,22,22,0.555);
    border-bottom: 1px solid grey;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*.category-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/template/phobulous/bamboo-cutting-board.jpg);
    opacity: 0.55;
    z-index: 5;
    top: 0;
}*/

.main-content {
    position: relative;
}

.action-wrapper {
    display: flex; flex-direction: column; align-items: center; justify-content: space-around; width:100%; box-sizing:border-box; padding-left: 40px; padding-right: 40px; height: 160px
}

.page-wrapper .hero-slider + div > div > div {
    /* Stupid plugin changes everything to absolute position which makes items re-render even though we shoved them off the screen */
    position: fixed !important
}

/* Scroll styles */
a.more.style03 span {
    position: absolute;
    top: auto;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

a.more.style03 span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

a.more.style03 span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(55,55,55,.25);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

/* Custom scroll styles */
.hero-slider .slide a.more.style03 span {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

.parallax-app-wrapper {
    top: 95vh;
    height: auto; 
    width: 100%;
}

/* Icing */
.firebrand-hero {
    position: absolute;
    transform: rotate(90deg);
    top: -52.5vh;
}

.pdf-menu-modal {
    width: 60%;
}

/* Override colors */
.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6, 
.dark .h1, 
.dark .h2, 
.dark .h3, 
.dark .h4, 
.dark .h5, 
.dark .h6,
.dark .item-name,
.dark .shop-item .shop-item-details,
.dark .shop-item .shop-item-details .shop-item-title > a,
.main-navigation li > a {
    color: #606060;
    text-decoration: none;
    color: white;
}

.toolbar-dropdown {
    position: fixed;
    z-index: 5;
    width: auto;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.fixed {
    position: fixed;
}
    
@media screen and (max-width: 1780px) {
    .slide .from-bottom {
        bottom: 18%;
        left: -11%;
    }
}

@media screen and (max-width: 1600px) {
    .slide .from-bottom {
        bottom: 5%;
        left: 3%;
    }
}

/* Adjust */
/* HiDPI Screens eg 1440 & 900 */
@media screen and (max-width: 1440px) {
    .mint {
        background-image: url(img/template/phobulous/mint.png);
        background-size: contain;
        transform: translate(40%, -23%) rotate(-84deg);
    }
    
    .mint {
        position: absolute;
        left: -2%;
        bottom: -13.15rem;
        z-index: 4 !important;
    }
    
    .mint:hover {
        transform: translate(40%, -23%) rotate(-82deg);
    }
    
    .cilantro {
        background-image: url(img/template/phobulous/cilantro.png);
        background-size: contain;
        transform: translate(-35%, -5%) rotate(16deg);
    }
    
    .cilantro {
        position: absolute;
        right: 12.5%;
        bottom: -30rem;
        z-index: 10;
    }
    
    .cilantro:hover {
        transform: translate(-35%, -5%) rotate(14deg);
    }
    
    .takeout-menu {
        width: 17.5%;
    }
    
    .slide .from-top,
    .slide .from-bottom {
        margin: 0 auto;
        width: 100%;
        right: auto;
        left: auto;
    }
    
    .slide .from-top {
        left: 10%;
    }
    
    .slide .from-bottom {
        bottom: 5%;
        left: 2%;
    }
    
    .hero-slider h2, .hero-slider .h2 {
        font-size: 3.5rem; /* TODO: Scale all font-sizes */
    }
    
    .firebrand-hero {
        position: absolute;
        transform: rotate(90deg);
        top: -27.5vh;
    }
    
    
    .pdf-menu-modal {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .cilantro {
        position: absolute;
        right: 5.5%;
        bottom: -30rem;
        z-index: 10;
    }
}

@media screen and (max-width: 1024px) {
    .slide .from-top {
        left: 10%;
    }
    
    .slide .from-bottom {
        bottom: 46%;
        left: 7%;
    }
}

@media screen and (max-width: 991px) {    
    .footer .column {
        display: block;
        width: 100%;
        padding: 45px 15px 135px;
    }
}

@media screen and (max-width: 767px) {
    .footer .column {
        display: block;
        width: 100%;
        padding: 45px 15px 65px;
    }
}

@media screen and (max-width: 768px) {    
    .firebrand-hero {
        position: absolute;
        display: none;
    }
    
    h1.cursive, .h1 .cursive {
        font-size: 7.5rem;
    }
    
    .hero-slider .slide {
        /*height: 510px;*/
        background-size: cover;
        height: 100vh;
    }
    
    .parallax-app-wrapper {
        top: 60vh;
    }
    
    .slide .from-top {
        bottom: auto;
        top: 25%;
    }

    .slide .from-bottom {
        bottom: 10%;
        top: auto;
    }
    
    .slide .from-top,
    .slide .from-bottom {
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
    }
    
    .text-right {
        text-align: center;
    }
    
    .text-left {
        text-align: center;
    }

    .takeout-menu {
        background-image: url(img/template/phobulous-menu/phobulous_menu_2017-1.png);
        background-size: cover;
        background-repeat: non-repeat;
        height: 325px;
        width: 48%;
        height: 22.5%;
        bottom: -6% !important;
        right: 9% !important;
        transform: rotate(3.5deg);
        -webkit-transition: 0.15s ease-in-out;
        -moz-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
    }
    
    .pdf-menu-modal {
        width: 100%;
    }
    
    .owl-carousel .owl-controls .owl-dots {
        position: absolute;
        bottom: 65px;
    }
    
    body, p, a, li {
        font-family: 'Gentium Basic', serif !important;
        font-size: 1.85rem !important;
    }
    
    .shop-item-title,
    .shop-item-price,
    .shop-item-price > * {
        font-size: 23px;
        font-weight: 300;
        font-style: normal;
        text-transform: none;
    }
    
    .shop-item .shop-item-details .shop-item-title, 
    .shop-item .shop-item-details .shop-item-price {
        vertical-align: top;
    }
    
    .shop-item-title {
        margin-bottom: 10px;
    }
    
    .shop-item {
        margin-bottom: 10px;
    }
    
    /*a.more.style03 span {
        top: 15px;
    }*/
    
    .mint {
        position: absolute;
        left: 17%;
        bottom: -16.15rem;
        z-index: 4 !important;
    }
    
    .copyright {
        visibility: hidden; /* TODO: Fix me */
    }
}

@media only screen and (max-width: 480px) {
    h1, .h1 {
        font-size: 23px;
        font-weight: 300;
        font-style: normal;
        text-transform: none;
    }
    
    h1.cursive, .h1 .cursive {
        font-size: 5.5rem;
    }
    
    .slide .from-bottom {
        display: none;
    }
    
    .owl-carousel .owl-controls .owl-dots {
        display: none;
    }
    
    .toolbar-wrapper .toolbar {
        max-width: 95px;
    }
    
    .toolbar-dropdown {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    .slide .from-bottom {
        display: none;
    }
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(55,55,55,.25);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(55,55,55,.25);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

img,
iframe {
    max-width: 100%;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    height: auto;
}
.video-wrapper  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

small.info {
	font-weight: 400;
  	letter-spacing: 0;
    font-size: 13px;
    margin-bottom: 10px;
  	display: block;
  
}

.shaky {
  animation: shake 1.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
  animation-direction: forward;
}
.shaky2 {
  animation: shake2 3.32s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
  animation-direction: forward;
}
.shaky3 {
  animation: shake3 4.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
  animation-direction: forward;
}
.shaky4 {
  animation: shake3 3.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, -4px, 0);
  }
}
@keyframes shake2 {
  10%, 90% {
    transform: translate3d(-2px, -3px, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 3px, 0);
  }

  40%, 60% {
    transform: translate3d(2px, -2px, 0);
  }
}
@keyframes shake3 {
  10%, 90% {
    transform: translate3d(-4px, -3px, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(2px, -1px, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 4px, 0);
  }
}
@keyframes shake4 {
  10%, 90% {
    transform: translate3d(-2px, 3px, 0);
  }
  
  20%, 80% {
    transform: translate3d(3px, -2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 1px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, -4px, 0);
  }
}

#post-not-found {
    min-height: 60vh;
}

.cta-buttons {
    margin-top: 2rem;
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 20;
}

.cta-buttons .button.cta {
    /*display: table-cell;
    vertical-align: middle;*/
    color: white;
    font-size: 1.05rem;
    text-transform: initial;
    white-space: nowrap;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-width: 1px;
    border-style: solid;
}

.cta-buttons .button.cta {
    /*display: table-cell;
    vertical-align: middle;*/
    color: white;
}

.parallax_title {
    width: 80% !important;
    text-align: center;
    margin: 0 auto;
}

.button.cta {
    padding: 1.5rem 3rem;
}

.btn, .back-btn, .done-btn, .search-btn {
    margin-right: 0;
}

.cta-buttons .dropdown-menu {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.33);
    border-color: white;
}

#parallax_page_title .button.cta {
    /* border-color: #cfa670; */
    border-color: white;
    background: rgba(0, 0, 0, 0.33);
}

.display-flex {
    display: flex;
    flex-flow: row wrap;
}

.display-flex.space-around {
    justify-content: space-around;
}

.display-inline {
    display: inline-block;
}

.display-block {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-left-1x {
    margin-left: 15px;
}

.margin-left-2x {
    margin-left: 30px;
}

.margin-left-3x {
    margin-left: 45px;
}

.margin-right-1x {
    margin-right: 15px;
}

.margin-right-2x {
    margin-right: 30px;
}

.margin-right-3x {
    margin-left: 45px;
}

.skipthedishes {
    opacity: 0.85;
    filter: grayscale(88.888%);
}

.two-column-list {
    list-style: none;
    list-style-type: none;
    
}

.two-column-list li {
    width: 50%;
    display: inline-block;
}

.no-list-style {
    list-style: none;
}

.circle {
    background: #729E42;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    transform: rotate(-7.5deg);
    box-shadow: 0px 0px 100px rgba(120,120,120,0.6);
}

.circle.circle-80 {
    width: 80px;
    height: 80px;
}

.circle.circle-90 {
    width: 90px;
    height: 90px;
}

.circle.circle-100 {
    width: 100px;
    height: 100px;
}

.circle .top {
    display: block;
    font-family: sans-serif;
    font-size: 75%;
    text-align: center;
}

.circle .bottom {
    display: block;
    font-size: 150%;
    text-align: center;
}

@media all and (max-width: 640px) {
    .circle {
        top: 9vh;
    }
}